{% extends '_base_basic.html' %}
{% load static %}
{% load i18n %}


{% block headers %}
	{{ block.super }}

{% endblock %}

{% block body %}
	<div class="rate-container">

		<h3 class="text-center">{% trans "Регистрация нового пользователя" %}</h3>
        {% if error %}
			<div class="text-danger invalid_login">{{ error }}</div>
		{% endif %}
		{% if errors %}
			<div class="text-danger invalid_login">{{ errors }}</div>
		{% endif %}

		<form action="{% url 'register' %}?next={{ next_page }}" method="post" class="form-horizontal register_form" role="form">
			{% csrf_token %}

			<div class="row form-group">
				<label for="username" class="col-sm-4 control-label">{% trans "Логин" %}*</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="username" name="username" placeholder="{% trans "Логин" %}" required autofocus>
				</div>
			</div>

			<div class="row form-group">
				<label for="first_name" class="col-sm-4 control-label">{% trans "Фамилия" %}*, {% trans "имя" %}*, {% trans "отчество" %}</label>
				<div class="col-sm-5 ">
                    <div class="col-sm-4 left_column">
						<input type="text" class="form-control" id="last_name" name="last_name" placeholder="{% trans "Фамилия" %}" required>
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="first_name" name="first_name" placeholder="{% trans "Имя" %}" required>
					</div>

                    <div class="col-sm-4 right_column">
						<input type="text" class="form-control" id="fathers_name" name="fathers_name" placeholder="{% trans "Отчество" %}">
					</div>
				</div>
			</div>


			<div class="row form-group">
				<label for="email" class="col-sm-4 control-label">{% trans "Почта" %}*</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="email" name="email" placeholder="{% trans "Почта" %}" required>
				</div>
			</div>
			<div class="row form-group">
				<label for="password" class="col-sm-4 control-label">{% trans "Пароль" %}*</label>
				<div class="col-sm-5">
					<div class="col-sm-6 ">
						<input type="password" class="form-control" id="password" name="password" placeholder="{% trans "Пароль" %}" required>
					</div>
					<div class="col-sm-6 ">
						<input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="{% trans "Подтверждение пароля" %}" required>
					</div>
				</div>
			</div>
            <div class="row form-group">
				<div class="col-sm-12">
					<label for="is_teacher" class="col-sm-4 form-check-label  control-label">{% trans "Преподаватель Школы Лингвистики" %}</label>
                    <input type="checkbox" class="form-check-input col-sm-1 " id="is_teacher" name="is_teacher">
                    <label for="is_student" class="col-sm-4 form-check-label  control-label">{% trans "Студент Школы Лингвистики" %}</label>
                    <input type="checkbox" class="form-check-input  control-label col-sm-1 " id="is_student" name="is_student">
				</div>
			</div>
			<div class="row text-center">
				<button type="submit" class="btn btn-success">{% trans "Зарегистрироваться" %}</button>
			</div>
		</form>
	</div>
{% endblock %}
