{% extends '_base_basic.html' %}
{% load static %}
{% load i18n %}

{% block body %}
  <h1>{% trans "О сайте" %}</h1>

    <p>
        {% blocktrans trimmed %}
            Сайт, на котором можно посмотреть все проекты студентов школы лингвистики за все время (с 2011г.)
        {% endblocktrans %}
    </p>
        <p>
        {% blocktrans trimmed %}
            Проекты -- это курсовые работы, дипломы, мастерские и качественные работы других форматов.
        {% endblocktrans %}
    </p>
    <p></p>

    <p class="text-danger">{% trans "Сейчас проект находится в разработке и вы смотрите beta-версию." %}</p>

{% endblock %}
