{% extends '_base_basic.html' %}
{% load i18n %}


{% block body %}
  <h1>{% trans "Помощь" %}</h1>

    <h3>{% trans "Как загрузить проект?" %}</h3>
    {% url 'register' as register%}
    {% url 'login' as login %}
    {% url 'about' as about %}

    <ol>
        <li>
            {% blocktrans trimmed %}
                Чтобы загрузить словарь, нужно <a href="{{ register }}?next={{ request.path }}">зарегистрироваться</a> и <a href="{{ login }}?next={{ request.path }}">войти</a> под своим логином. При регистрации, пожалуйста, укажите ваши настоящие имя и фамилию.
            {% endblocktrans %}

        </li>
    </ol>

{% endblock %}