{% extends '_base_basic.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block body %}
 <div class="rate-container">
 <div class="col-sm-3">
        <div class="row">
            <h3 class="text-center">{% trans "Фильтры" %}</h3>
            <form method="get" role="form" id="filter_form">
                <div class="form-group col-sm-12  form-group-sm indexpage">
                    <label for="author" hidden>{% trans "Авторы" %}</label>
                    <input type="text" class="form-control" id="author" name="author" placeholder="{% trans "Автор" %}" value="{{ author }}">
                </div>
                <div class="form-group col-sm-12  form-group-sm indexpage">
                    <label for="prof" hidden>{% trans "Руководители" %}</label>
                    <input type="text" class="form-control" id="prof" name="prof" placeholder="{% trans "Руководитель" %}" value="{{ prof }}">
                </div>
                <div class="form-group col-sm-12  form-group-sm indexpage">
                    <label for="keywords" hidden>{% trans "Ключевые слова" %}</label>
                    <input type="text" class="form-control" id="keywords" name="keywords" placeholder="{% trans "Ключевые слова" %}" value="{{ keywords }}">
                </div>
                <div class="form-group col-sm-12  form-group-sm indexpage">
                    <label for="title" hidden>{% trans "Название" %}</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="{% trans "Слова в названии" %}" value="{{ title }}">
                </div>
                <div class="form-group col-sm-12  form-group-sm indexpage">
                    <label for="abstract" hidden>{% trans "Аннотация" %}</label>
                    <input type="text" class="form-control" id="abstract" name="abstract" placeholder="{% trans "Слова в аннотации" %}" value="{{ annot }}">
                </div>
                <div class="form-group col-sm-12  form-group-sm indexpage">
                    <div class="input-group">
                      <div class="input-group-addon">{% trans "С" %}</div>
                      <input type="number" class="form-control" id="year1" name="year1" placeholder="2010" value="{{ year1 }}">
                      <div class="input-group-addon">{% trans "по" %}</div>
                        <input type="number" class="form-control" id="year2" name="year2" placeholder="2017" value="{{ year2 }}">
                    </div>
                </div>

                <div class="form-group col-sm-12  form-group-sm indexpage">
                    <label for="field">{% trans "Разделы" %}:</label>
                        <select multiple="multiple" id="field" name="field" class="chosen-select"  multiple >
                                {% for field in fields%}
                                    <option value="{{ field.id }}" {% if field.id in selected_fields%}selected{% endif %}>
                                        {% if LANGUAGE_CODE == 'ru' %}
                                            {{ field.name }}
                                        {% else %}
                                            {{ field.name_en}}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                </div>

                <div class="form-group col-sm-12  form-group-sm indexpage">
                    <label>{% trans "Тип работы" %}:</label>
                    {% for t in project_types%}
                        <div class="checkbox indexpage">
                            <label>
                                <input type="checkbox" name="project_type" class="check" value="{{ t.0 }}" {% if t.0 in selected_types %}checked{% endif %}>
                                {{ t.1 }}
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <div class="row text-center">
                    <button id="projects_filter" type="submit" class="btn btn-primary btn-sm">{% trans "Обновить" %}</button>
                    <a href="{% url 'index' %}" id="projects_filter" class="btn btn-primary btn-sm">{% trans "Сбросить" %}</a>
                </div>


            </form>
        </div>
    </div>
 <div class="col-sm-9">
        <div class="row">
            <table  class="table table-responsive">
            <thead>
                <tr>
                    <th>{% trans "Название" %}</th>
                    <th>{% trans "Авторы" %}</th>
                    <th>{% trans "Руководители" %}</th>
                    <th>{% trans "Год" %}</th>
                    <th>{% trans "Курс" %}</th>
{#                    <th>{% trans "Ключевые слова" %}</th>#}
                    <th>{% trans "Раздел" %}</th>
                    <th>{% trans "Тип" %}</th>
                    <th>{% trans "Оценка" %}</th>
                    {% if request.user.is_staff %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for p in  projects %}
                <tr>
                    <td>
                        {% if LANGUAGE_CODE == 'ru' %}
                           {{ p.title }}
                        {% else %}
                            {{p.title_en}}
                        {% endif %}
                    </td>
                    <td>
                        {% for a in p.author.all %}
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{a.a_second_name}} {{a.a_first_name}} {{a.a_fathers_name}}
                            {% else %}
                                {{a.a_first_name_en}} {{a.a_second_name_en}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for t in p.prof.all %}
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{t.t_second_name}} {{t.t_first_name}} {{t.t_fathers_name}}
                            {% else %}
                                {{t.t_first_name_en}} {{t.t_second_name_en}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ p.year }}</td>
                    <td class="fit">{% trans p.course_verbose %}</td>
                    <td>
                        {% for f in p.field.all %}
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{ f.name }}
                            {% else %}
                                {{ f.name_en}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{% trans p.project_type %}</td>
                    {% if request.user.is_staff or request.user.profile.is_teacher %}
                        <td>{% if p.mark %}{{ p.mark}}{% endif %}</td>
                    {% else %}
                        <td>
                        {% if p.mark %}
                            {% if p.mark >= 8 %}<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            {% else %}<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <td><a href="{% url 'edit' p.id%}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
{#        {{ q }}#}
        </div>
    </div>
 </div>
{% endblock %}
