{% extends '_base_basic.html' %}
{% load static %}

{% block headers %}
	{{ block.super }}

{% endblock %}

{% block body %}
	<div class="rate-container">

    {% if files %}
       <h3 class="text-center">Вы добавили эти проекты:</h3>
		<form method="post" class="form-horizontal" role="form">
			{% csrf_token %}
            <table  class="table">
            <thead>
            <tr><th>Название</th>
            <th>Авторы</th>
                <th>Руководители</th>

                <th>Год</th>
                <th>Файл</th>
                <th>Добавлен</th>
            </tr>
            </thead>
            <tbody>
			{% for f in files %}
                <tr>
                    <td><input type="checkbox" value="{{ f.id }}" id="project{{ f.id }}" name="files[]"> <label for="project{{ f.id }}">{{ f.title }}</label></td>
                    <td>{{ f.author.all|join:", " }}</td>
                <td>{{ f.prof.all|join:", " }}</td>
                <td>{{ f.year }}</td>
                    <td><a href="{{ f.file.file.url }}"> {{ f.file}}</a></td>
                <td>{{ f.created }}</td>
                </tr>

            {% endfor %}
            </tbody>
            </table>
            <label> Что сделать с выбранными файлами?
                <select name="action" class="form-control">
                    <option value="delete">удалить</option>
{#                    <option value="">добавить в индекс</option>#}
                </select>
            </label>
            <div class="row text-center">
				<button type="submit" class="btn btn-success">Выполнить</button>
			</div>
		</form>
    {% endif %}
      <p><a href="{% url 'upload' request.user %}">Загрузить новый проект</a></p>
    {% if  not files %}
    <p>У вас нет загруженных файлов</p>
  {% endif %}

	</div>
{% endblock %}
